<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td>
          Set up <a href="https://imageomics.github.io/2026-08-17-osu-online/#the-bash-shell" target="_blank">Bash</a>, 
          <a href="https://imageomics.github.io/2026-08-17-osu-online/#git-1" target="_blank">Git (and GitHub)</a>, and 
          <a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh" target="_blank">configure SSH keys with GitHub</a>.
          <br>
          <span style="color: rgb(100, 100, 100); font-size: 90%;">
            <!--For assistance, attend our remote setup office hours before the workshop.
            <a href="https://imageomics.github.io/2026-08-17-osu-online/assets/office-hour.ics" target="_blank">Add to Calendar</a>-->
          </span>
        </td>      
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> intro, logistics</td>
      </tr>
      <tr>
        <td>11:20</td>
        <td>Introduction to the Bash shell</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:00</td>
        <td>Version Control with Git: Command Line</td>
      </tr>
      <tr>
        <td>2:15</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>2:30</td>
        <td>Version Control with Git: Remotes</td>
      </tr>
      <tr>
        <td>3:50</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a> (if not attending Friday)</td>
      </tr>
      <tr>
        <td>4:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td>Set up <a href="https://imageomics.github.io/2026-08-17-osu-online/#r-1" target="_blank">R and RStudio</a>.
          <br>
          <span style="color: rgb(100, 100, 100); font-size: 90%;">
            <!--For assistance, attend our remote setup office hours before the workshop.
            <a href="https://imageomics.github.io/2026-08-17-osu-online/assets/office-hour.ics" target="_blank">Add to Calendar</a>-->
          </span>
        </td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> (if only attending today), intro, logistics</td>
      </tr>
      <tr>
        <td>9:20</td>
        <td>Introduction to R and RStudio</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Data structures</td>
      </tr>
      <tr>
        <td>11:25</td>
        <td>Data Frame manipulation with <code>dplyr</code></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:30</td>
        <td>Visualization with <code>ggplot2</code></td>
      </tr>
      <tr>
        <td>2:50</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>3:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
